@import url('./root.css');

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--second-color);
}

.footer > .header-1 {
  margin: 85px auto 60px auto;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  width: 470px;
  height: 65px;
  margin-bottom: 15px;
  border:none;
  border-radius: 6px;
  padding-left: 10px;
}

input:placeholder {
  
}

.footer .button {
  margin-bottom: 80px;
}

textarea {
  width: 470px;
  height: 165px;
  margin-bottom: 15px;
  border:none;
  border-radius: 6px;
  padding-left: 10px;
}


@media(max-width: 425px){
  input {
    width: 370px;
  }
  textarea {
    width: 370px;
  }

}
