@import './root.css';

html {
  font-family: 'Montserrat', sans-serif;
}

.title-1 {
  font-size: 3.2rem;
  line-height: 3.9rem;
}

.title-2 { 
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 4.7rem;
}

.description {
  font-size: 1.8rem;
  line-height: 3.5rem;
}


