:root {
  width: 100vw;
  word-break: initial;
  font-size: 62.5%;
  --main-bg-color: #181818;
  --second-bg-color:#F6F6F6;
  --third-bg-color: #EBE9EA;
  --main--font-color: #181818;
  --second-font-color: #F6F6F6;
  --font-color-white:#FFFF;
  --third-font-color: #474747;
}

