@import './root.css';

body {
  display:grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
}
.btnVerde {
  width: 100%;
  height: 50px;
  font-size:1.6rem;
  font-weight: 700;
  line-height: 1.9rem;
  color: var(--cor-branco);
  background: var(--cor-verde);
  margin-bottom: 15px;
  border:none;
  border-radius: 8px;
}
.btnPreto {
  width: 100%;
  height: 50px;
  background: var(--cor-cinza);
  font-size:1.6rem;
  font-weight: 700;
  line-height: 1.9rem;
  color: var(--cor-branco);
  border:none;
  border-radius: 8px;
}

.main {
  width: 350px;
  height: 100%;
  display:flex;
  flex-direction: column;
  margin:0 auto;
}

 .content {
   height: 100%;
   display:flex;
   flex-direction:column;
   align-self: center;
   align-content: center;
   justify-content: center;
} 
.welcome {
  width: 100%;
  justify-content: center;
}

.top-title {
  font-family: 'Merriweather',serif;
  font-size:1.6rem;
  font-weight: 400;
  line-height: 2rem;
  margin-bottom: 7px;
}

.main .content .welcome .title {
  margin-bottom: 40px;
}

.main .footer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 50px;
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.8rem;
}

.main .footer a {
  margin-left: 5px;
}

@media( max-width: 1050px){
  body {
    max-width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-self: center;
  }
}