:root {
  --primary-color: #04C35C;
  --second-color:#2B6CB0;
  --third-color: #1A202C;
  --fourt-color: #F7FAFC;
  --five-color: #FFFFFF;
  --six-color: #E8E8E8;
  font-size: 62.5%;
  font-family: "Merriweather", serif;
}

button {
  width: 350px;
  height: 50px;
}

a {
  color: var(--second-color);
}